/* Title Section*/
#title{
    background-color: #ff4c68;
    color: #fff;
    
}
h1{
    font-family: "Montserrat-Black";
    font-weight: bold;
    line-height: 3rem;

}

h2{ 
    font-family: "Montserrat-Bold";
    font-weight: bold;
    line-height: 1rem;
}
h3{
    font-weight: 300;
}
.container-fluid{
    padding: 3% 50%;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 5rem;
    font-weight: bold;
}
.navbar{
    margin-bottom:  4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.download-button{
    margin: 5% 3% 5% 0%;
}
.title-img{
    width: 60%;
   transform: rotate(40deg); /* Equal to rotateZ(45deg) */

      
}

/* Feature Section*/

.feature{
    position: relative;
    padding: 7% 15%;
}
.feature-box{
    padding: 10%;
    text-align: center;
    
}

.font{
    size: 10px;
}
p{
    color: gray;
}
.bi:hover{
    margin: 1rem;
    color: #ff4c68;

}
.iphone{
    color: #fff;
}
/* Testimonial Section*/
#testimonials{
    padding-top:7%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
} 
#press{
    background-color: #ff4c68;
    padding: 7% 10%;
    text-align: center;
}
.press-logo{
width: 15%;
margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
/* pricing*/
#pricing{
    padding: 100px;
    text-align: center;}

.pricing-colum{
    padding: 3% 2%;
}
@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}
/* Call to Action */
#cta{
    background-color: #ff4c68;
    padding: 10% 30%;
    text-align: center;
}
.head3{
    padding-bottom: 5%;
    line-height: 2.5rem;
    font-weight: bold;
    color: #fff;
    
}
.cta-btn{
    padding-left: 5px;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.footer-p{
    padding-top: 2%;
}
