#title{
    background-color: #ff4c68;
    color: #fff;
    
}
h1{
    font-family: "Montserrat-Black";
    font-weight: bold;
    line-height: 3rem;

}
.container-fluid{
    padding: 3% 50%;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 5rem;
    font-weight: bold;
}
.navbar{
    margin-bottom:  4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.download-button{
    margin: 5% 3% 5% 0%;
}
.title-img{
    width: 60%;
   transform: rotate(40deg); /* Equal to rotateZ(45deg) */

      
}
.feature{
    padding: 7% 15%;
}
.feature-box{
    padding: 10%;
    text-align: center;
    
}
h3{
    font-weight: 300;
}
.font{
    size: 10px;
}